body {
  font-family: Montserrat;
  background-color: #b4ecfd;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.loginPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 480px;
  /* box-shadow: 0 0 5px black; */
  box-shadow: rgba(33, 32, 33, 0.1) 30px 30px 30px 30px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 5px;
  /* background-color: rgb(12, 49, 70); */
}

.buttonDivLogin {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 10px;
  /* margin-right: 100px; */
  /* background-color: #d31844; */
}

#loginPage > h1 {
  align-self: center;
  margin: 5px 5px;
}

#landingPage {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  width: 80%;
  /* background-color: #fff; */
}
.options {
  margin-left: 20px;
}
.pollOption {
  margin-left: 20px;
}
.add {
  text-decoration: solid;
  font-weight: bolder;
  font-size: 80px;
}
.startPoll {
  margin-top: 20px;
  cursor: pointer;
  color: rgb(7, 6, 6);
}
.logout {
  margin-top: 10px;
  border: none;
  display: inline-block;
  font-weight: bolder;
  text-decoration: solid;
  padding: 10px;
  align-self: center;
  cursor: pointer;
}
.moreInfo {
  margin-left: 140px;
  border: none;
  display: inline-block;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  align-self: center;
  cursor: pointer;
  color: black;
}

#pollsHistoryContainer {
  max-height: 50vh;
  overflow-y: scroll;
  width: 480px;
  padding-top: 0.5rem;
  background-color: white;
  opacity: 0.95;
}

#pollCreator {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(7, 6, 6);
  border-radius: 8px;
  box-shadow: 0 0 10px grey;
  width: 360px;
  padding-bottom: 1rem;
  background-color: white;
}

.voteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 75%;
  box-shadow: 0 0 5px black;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.voteRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  border-radius: 5px;
}

.MuiFormGroup-root {
  margin-left: 30px;
  width: 210px;
}

.participantContainer {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px black;
  width: 240px;
  margin-bottom: 20px;
}

.participantDiv {
  border-radius: 3px;
  margin: 4px 4px;
  padding: 4px 4px;
  box-shadow: 0 0 3px black;
}

.optionsLabel {
  border-radius: 3px;
  margin: 4px 4px;
  box-shadow: 0 0 3px black;
  width: 200px;
}
#pollsHistoryContainer {
  border-radius: 8px;
  box-shadow: 0 0 8px grey;
}

.pollsHistoryDisplay {
  border-radius: 8px;
  box-shadow: 0 0 8px grey;
  height: 20vh;
  min-height: 150px;
  margin: 20px 20px;
  padding-top: 4px;
  /* background-color: white; */
}

.pollsHistoryDisplayContents {
  margin: 20px 20px;
}

.pollLink {
  margin-top: 20px;
  text-decoration: underline;
  font-weight: bold;
  margin-left: 30px;
  transition: all 0.2s;
}

.pollLink:hover {
  opacity: 0.8;
}

.pollLink:active {
  opacity: 1;
}

.sendMessage {
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  display: inline-block;
  box-shadow: 0 0 10px grey;
  padding: 10px;
  align-self: center;
  cursor: pointer;
  color: black;
}
#chatBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 6px black;
  width: 400px;
  margin-bottom: 30px;
  margin-top: 30px;
  max-height: 60vh;
  padding-top: 1rem;
}

.messages {
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 0 6px black; */
  padding: 4px;
  border: 1px solid gray;
  width: 365px;
  min-height: 1rem;
  /* margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px; */
}

.textField {
  /* margin: ".5rem"; */
  /* display: "flex";
  align-items: center; */
  margin-right: 7px;
  /* margin-right: "2px"; */
  /* border: "1px solid black"; */
}
